.json-viewer {
  .copy-button-container {
    position: relative;

    .copy-button {
      min-width: 100px;
      position: absolute;
      top: 24px;
      right: 32px;
      z-index: 2;
    }
  }
}
