.json-viewer {
  .copy-button-container {
    position: relative;

    .copy-button {
      min-width: 100px;
      position: absolute;
      top: 48px;
      right: 36px;
      z-index: 2;
    }
  }
}
